$nav-bg: #273e8f;
$highlight: #4a90e2;
$lightgrey: #dadada;
$fancyblack: #33363c;
$beige: #ECEAE7;

// Dark mode
$dark-bg: #17181b;
$dark-txt: #d2d2d2;
$dark-title: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat:700');

* {
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -0, 022em;
  line-height: 1.6em;
}

li {
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: $fancyblack;
  font-weight: 600;
}

h2 {
  padding-bottom: 5pt;
  border-bottom: 1px solid $lightgrey;
}

code {
  color: $highlight;
}

body {
  margin: 0;
  background: #ffffff;

  ul li,
  ol li {
    line-height: 1.5rem;
    padding-bottom: 7pt;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td,
table th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid $lightgrey;
}

table thead {
  background: $lightgrey;
}

img {
  max-width: 100%;
}

body.dark {
  background: $dark-bg;
  color: $dark-txt;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  h2 {
    border-bottom-color: $fancyblack;
  }

  table td,
  table th {
    border-bottom-color: $fancyblack;
  }

  table thead {
    background: $fancyblack;
  }

  .navbar {
    background: #141414;
  }
}

#darkmode {
  cursor: pointer;
  padding: 3pt;
  border: 2px solid #4a90e2;
  display: inline-block;
  float: right;
  margin-top: 7pt;
  border-radius: 5pt;
  margin-right: 10pt;
}

.logo {
  width: 120px;
  padding-top: 5px;
  margin-left: 10pt;
  display: inline-block;
  transition: all 0.15s;

  &:hover {
    background: darken($beige, 10)
  }
}

.header {
  background: #4a90e2;
  color: white;
  text-align: center;
  padding: 1pt;


  h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  h2 {
    color: white;
    padding: 0;
    font-weight: 300;
    margin: 5pt;
  }
}

a,
a:visited {
  color: $fancyblack;
}

.job-nav {
  display: flex;
  justify-content: start;
  height: 42pt;
  background-color: $nav-bg;
  border-bottom: 3px solid #4a90e2;
}

.name {
  padding-left: 15pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1em;
}

.main-container {
  max-width: 500pt;
  padding-left: 25pt;
}

.list-item {
  display: flex;
  margin-bottom: 2em;
  justify-content: space-between;
  padding: 10pt 8pt;

  &:hover {
    cursor: pointer;
    background: #181818;
  }
}

.container {
  display: flex;
  flex-flow: column;
}

.title {
  flex: auto;
  font-weight: bold;
}

.date {
  padding-left: 15px;
  text-align: right;
  color: #7d7d7d;
  flex: none;
}

.content {
  color: #925454;
}

.contact-button {
  position: fixed;
  bottom: 21pt;
  right: 21pt;
  border: 2pt solid $highlight;
  padding: 12pt 15pt;
  border-radius: 6pt;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    background: $highlight;
  }
}

.goback {
  text-align: center;
  margin-bottom: 15pt;
  padding: 5pt;
  font-weight: bold;
  background: #88d2d4;

  a {
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}

.newsletter {
  opacity: 0.7;
  padding: 10pt;
  background: white;
  color: black;
  text-align: center;
  margin-top: 25pt;
  padding-top: 25pt;
  margin-bottom: 25pt;

  .description {
    color: black;
    margin-bottom: 7pt;
  }

  #mc_embed_signup,
  .mc-field-group {
    #mc-embedded-subscribe-form {
      padding: 0pt;
    }

    .mc-field-group label {
      font-weight: bold;
    }

    .mc-field-group input {
      padding: 4pt;
      border-style: solid;
      border-width: 2pt;
      border-color: $lightgrey;
      border-radius: 5pt;
      width: 100%;
      // min-width: 380pt;
    }

    input.button {
      margin-top: 5pt;
      padding: 4pt 8pt;
      border: 2pt solid $lightgrey;
      background: $lightgrey;
      font-weight: medium;
      color: #333;
      border-radius: 5pt;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        background: darken($lightgrey, 10);
        border-color: darken($lightgrey, 10);
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 300px;
  align-self: auto;
}

.flex-item:nth-child(2) {
  order: 0;
  flex: 1 0 auto;
  align-self: auto;
}

.toc {
  a {
    text-decoration: none;

    &:hover {
      color: $highlight;
    }
  }
}

.everything-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  background: white;
  order: 0;
  flex: 0 0 50px;
  height: 50px;
  align-self: auto;
}

.main-content {
  order: 1;
  flex: 1 1 auto;
  align-self: auto;
}

@media screen and (max-width: 600px) {
  .flex-item:nth-child(1) {
    visibility: hidden;
    display: none;
  }

  .flex-item:nth-child(2) {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }

  .main-container {
    padding-left: 10pt;
  }
}

.single-container {
  min-width: 600px;
}

.color-chip {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(black, 0.1);
  box-shadow: inset 0 0 1px rgba(white, 0.2);
}
