<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="The company handbook of Remote.com. Open to contributions, and free to use for your own company.">
<title>Remote.com Handbook</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $style := resources.Get "scss/all.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">