<svg width="120px" height="40px" viewBox="0 0 1200 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch -->
    <title>Artboard Copy</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="184.737448 180.498937 184.737448 0.34158592 0.214976951 0.34158592 0.214976951 180.498937 184.737448 180.498937"></polygon>
    </defs>
    <g id="Artboard-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-3" transform="translate(84.000000, 69.000000)">
            <g id="Page-1">
                <path d="M499.29314,50.3737465 C476.724573,50.3737465 456.520983,60.4356409 443.13039,76.2032841 C429.742535,60.4356409 409.538946,50.3737465 386.970378,50.3737465 C346.752068,50.3737465 314.033804,82.3179228 314.033804,121.584699 L314.033804,230.734206 L347.58419,230.734206 L347.58419,121.584699 C347.58419,100.381228 365.253093,83.1303573 386.970378,83.1303573 C408.687663,83.1303573 426.356566,100.381228 426.356566,121.584699 L426.356566,230.734206 L459.906952,230.734206 L459.906952,121.584699 C459.906952,100.381228 477.575855,83.1303573 499.29314,83.1303573 C521.010425,83.1303573 538.679328,100.381228 538.679328,121.584699 L538.679328,230.734206 L572.229714,230.734206 L572.229714,121.584699 C572.229714,82.3179228 539.51145,50.3737465 499.29314,50.3737465"
                    id="Fill-1" fill="#516ABE"></path>
                <path d="M878.703199,83.1295555 L878.703199,50.3729447 L834.280484,50.3729447 L834.280484,0.65141875 L800.730098,0.65141875 L800.730098,50.3729447 L769.736297,50.3729447 L769.736297,83.1295555 L800.730098,83.1295555 L800.730098,159.319342 L800.730098,159.319342 C800.730098,194.641536 827.716576,224.958171 863.500552,229.840795 L868.142916,197.40221 C848.839879,194.767142 834.280484,178.395518 834.280484,159.319342 L834.280484,159.319342 L834.280484,83.1295555 L878.703199,83.1295555 Z"
                    id="Fill-3" fill="#516ABE"></path>
                <path d="M73.4673799,50.3737465 C33.24907,50.3737465 0.5308057,82.3179228 0.5308057,121.584699 L0.5308057,230.734206 L34.0811919,230.734206 L34.0811919,121.584699 C34.0811919,100.381228 51.7500947,83.1303573 73.4673799,83.1303573 L114.378212,83.1303573 L114.378212,50.3737465 L73.4673799,50.3737465 Z"
                    id="Fill-5" fill="#516ABE"></path>
                <path d="M680.099804,83.1295555 C647.726432,83.1295555 621.388681,108.844176 621.388681,140.45162 C621.388681,172.059064 647.726432,197.773685 680.099804,197.773685 C712.473175,197.773685 738.810926,172.059064 738.810926,140.45162 C738.810926,108.844176 712.473175,83.1295555 680.099804,83.1295555 M680.099804,230.530295 C629.228144,230.530295 587.838295,190.122369 587.838295,140.45162 C587.838295,90.7835437 629.228144,50.3729447 680.099804,50.3729447 C730.971463,50.3729447 772.361313,90.7835437 772.361313,140.45162 C772.361313,190.122369 730.971463,230.530295 680.099804,230.530295"
                    id="Fill-7" fill="#516ABE"></path>
                <path d="M206.675305,83.1295555 C233.221087,83.1295555 255.693851,100.423186 262.931121,124.074651 L150.419489,124.074651 C157.65676,100.423186 180.129524,83.1295555 206.675305,83.1295555 L206.675305,83.1295555 Z M256.50955,170.733513 C245.812404,187.476612 226.999334,197.773685 206.675305,197.773685 C180.129524,197.773685 157.65676,180.480054 150.419489,156.828589 L282.160253,156.828589 C291.42582,156.828589 298.936814,149.497971 298.936814,140.45162 C298.936814,90.7835437 257.546965,50.3729447 206.675305,50.3729447 C155.803646,50.3729447 114.413796,90.7835437 114.413796,140.45162 C114.413796,190.122369 155.803646,230.530295 206.675305,230.530295 C240.07788,230.530295 270.907447,212.857172 287.224152,184.389895 L256.50955,170.733513 Z"
                    id="Fill-9" fill="#516ABE"></path>
                <g id="Group-13" transform="translate(874.699057, 50.031359)">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-12"></g>
                    <path d="M92.476486,33.0981967 C119.022268,33.0981967 141.495032,50.3918272 148.732302,74.0432921 L36.22067,74.0432921 C43.4579402,50.3918272 65.9307044,33.0981967 92.476486,33.0981967 L92.476486,33.0981967 Z M142.31073,120.702154 C131.613585,137.445253 112.800514,147.742326 92.476486,147.742326 C65.9307044,147.742326 43.4579402,130.448695 36.22067,106.79723 L167.961433,106.79723 C177.227,106.79723 184.737995,99.4666125 184.737995,90.4202612 C184.737995,40.7521849 143.348145,0.34158592 92.476486,0.34158592 C41.6048268,0.34158592 0.214976951,40.7521849 0.214976951,90.4202612 C0.214976951,140.09101 41.6048268,180.498937 92.476486,180.498937 C125.879061,180.498937 156.708628,162.825814 173.02807,134.358536 L142.31073,120.702154 Z"
                        id="Fill-11" fill="#516ABE" mask="url(#mask-2)"></path>
                </g>
            </g>
        </g>
    </g>
</svg>