<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body id="body">
    <div class="everything-container">

        <div class="navbar">
            <div class="logo">
                <a href="https://www.remote.com">{{- partial "wm.html"}}</a>
            </div>

            <div id="darkmode">dark mode</div>

            {{- partial "header.html" . -}}

        </div>

        <div class="main-content">
            <div class="flex-container">
                <div class="flex-item">
                    <div class="toc">
                        {{ .TableOfContents }}
                    </div>
                </div>
                <div class="flex-item">
                    <div id="content" class="main-container">
                        {{- block "main" . }}{{- end }}
                    </div>

                </div>
            </div>
        </div>


        {{- partial "footer.html" . -}}
    </div>

    {{- partial "js.html" -}}
</body>

</html>